#main {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #525f7f;
    text-align: left;
    background-color: #171941;
    background-image: url("https://www.robotix.nitrr.ac.in/static/assets/img/dots.png");
    background-size: contain;
    overflow-x:hidden;
  }
  
  #main-heading {
    display: inline-block;
    margin: 20px 10px;
    color: #ffffff;
    vertical-align: middle;
    z-index: 1;
    font-size: 2.5rem;
  }
  
  header {
    text-align: center;
    margin: 25px 0 25px 0;
  }
  
  .inner-container {
  
    z-index: 1;
    margin-top: 180px;
    margin-bottom: 100px;
    text-align:center;
  
  
  }
  
  .second-inner {
    padding-top: 90px;
    padding-bottom: 100px;
  }
  
  /* When the certificate is not displayed */
  @media screen and (min-width:992px) {
    .single-block
    {
    margin-left:25% !important;
    margin-right:25% !important;
    }
  
  }
  
  
  
  
  .logo-image {
    display: inline-block;
    height: 90px;
    width: 90px;
  }
  
  /* important */
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    position:relative;
    min-height: calc(100vh - 365px);
  }
  
  /* @media (max-width: 935px)  {
    .inner-container{
      height:1500px;
      display:flex;
      flex-direction: column;
    } */
  /* SQAURE ANIMATIONS */
  @keyframes move-left-right {
    0% {
      transform: translateX(-10px);
    }
  
    50% {
      transform: translateX(10px);
    }
  
    100% {
      transform: translateX(-10px);
    }
  }
  
  .squares {
    animation: move-left-right 1s infinite;
    background: #ba54f5;
    background: -webkit-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
    background: -o-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
    background: -moz-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
    background: linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
    position: absolute;
    transition: 0.5s ease-out;
    overflow: hidden;
    border-radius: 20%;
    z-index: -1;
  }
  
  .squares.square1 {
    animation: move-left-right 4s infinite;
    height: 300px;
    width: 300px;
    opacity: 0.5;
    left: 3%;
    top: -21%;
    overflow: hidden;
  }
  
  .squares.square2 {
    animation: move-left-right 6s infinite;
    height: 400px;
    width: 400px;
    opacity: 0.4;
    right: -3%;
    top: -12%;
    overflow: hidden;
  }
  
  .squares.square3 {
    animation: move-left-right 5s infinite;
    height: 200px;
    width: 200px;
    opacity: 0.1;
    left: -5%;
    bottom: 0%;
    overflow: hidden;
  }
  
  .squares.square4 {
    animation: move-left-right 10s infinite;
    height: 300px;
    width: 300px;
    opacity: 0.5;
    right: 50%;
    top: 85%;
  }
  
  .squares.square5 {
    animation: move-left-right 6s infinite;
    height: 250px;
    width: 250px;
    opacity: 0.1;
    left: 32%;
    bottom: 29%;
  }
  
  .squares.square6 {
    animation: move-left-right 9s infinite;
    left: 10%;
    top: 35%;
    height: 80px;
    width: 80px;
    opacity: 0.8;
    overflow: hidden;
  }
  
  .squares.square7 {
    animation: move-left-right 3s infinite;
    width: 300px;
    height: 300px;
    right: -5%;
    bottom: 0%;
    opacity: 0.1;
    overflow: hidden;
  }
  
  /* CARD */
  #danger{
    height:24px;
  }
  .text-danger {
    color: #fd5d93 !important;
    font-size: 1.25rem;
  }
  .success{
    float:right;
    color:#39FF14;
    font-family: "Poppins", sans-serif;
    padding-left: 10px;
    }
    .success-container{
      height:24px;
    }
  
  .fa-check-circle{
  color:#39FF14;
  font-size:1.1625rem;
  }
  
  
  a.text-danger:hover,
  a.text-danger:focus {
    color: #fc2b71 !important;
  }
  .card {
    background: #1f2251;
    border: 0;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
  }
  
  .card-register {
    overflow: hidden;
    text-align: left;
    z-index: 2;
    /* margin-top: 100px; */
  }
  
  .card-body {
    text-align: left;
    position: relative;
    left: 15px;
  }
  
  .card-body h4 {
    color: #ffffff;
    font-size: 1.5rem;
  }
  
  .card-register .card-header img {
    position: absolute;
    margin-left: -30px;
    margin-top: -170px;
    border-radius: 20%;
    width: 350px;
    color: #ba54f5;
  }
  
  .card-register .header {
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px 0;
  }
  
  .card-register .text-divider {
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
  }
  
  .card-register .content {
    padding: 0px 30px;
  }
  
  .card-register .form-check {
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .card-register .form-check label:not(.form-check-label) {
    padding-left: 38px;
  }
  
  .card-register .card-header {
    padding: 0 0 50px;
    overflow: hidden;
  }
  
  .card-register .card-header .card-title {
    position: relative;
    font-size: 3.5rem;
    font-weight: 900;
    color: #222a42;
    text-transform: lowercase;
    top: 10px;
    z-index: 1;
  }
  
  .card-register .card-img {
    position: absolute;
    left: 0;
    top: -15%;
    width: 70%;
  }
  
  .card-register .social-line {
    margin-top: 20px;
    text-align: center;
  }
  
  .card-register .social-line .btn.btn-icon,
  .card-register .social-line .btn.btn-icon .btn-icon {
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.2);
  }
  
  .card-register .card-footer {
    margin-bottom: 10px;
    margin-top: 24px;
  }
  
  .card-register h4,
  .h4 {
    line-height: 1.45em;
    margin-bottom: 15px;
  }
  
  .certificate-form {
    padding: 0 20px;
  }
  
  #certificate-id {
    background-color: transparent;
    height: calc(2.25rem + 2px);
    border: 1px solid #cad1d7;
    border-radius: 0.4285rem;
    display: flex;
    flex: 1 1 auto;
    width: 95%;
    font-size: 0.75rem;
    padding: 10px 18px 10px 18px;
    border-color: #2b3553;
    color:white;
  }
  
  #certificate-id:focus {
    border-color: #e14eca;
    box-shadow: none;
    color: #FFFFFF;
  }
  
  .submit-section {
    padding: 40px 0 40px 0;
    text-align: center;
  }
  
  #submit {
    height: 50px;
    width: 30%;
    font-size: 1rem;
    padding-left: 0;
    padding-right: 0;
  }
  
  .image-container {
    background: transparent;
    box-shadow: none;
    border: 2px solid #344675;
    border-radius: 3%;
    margin: 0 10px 0 20px;
    text-align: center;
    z-index: 1;
    overflow: hidden;
  }
  
  #certificate-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 3%;
  }
  
  .main-container {
    margin: 10px;
    border-radius: 3%;
    height: 26rem;
  }
  
  /* .form-control:focus {
    border-color: #e14eca;
    background-color: transparent;
    box-shadow: none;
  } */
  /* .form-control:focus+.input-group-append .input-group-text,
  .form-control:focus~.input-group-append .input-group-text,
  .form-control:focus+.input-group-prepend .input-group-text,
  .form-control:focus~.input-group-prepend .input-group-text {
    border: 1px solid #e14eca;
    border-left: none;
    background-color: transparent;
  }
  
  .has-success .form-control,
  .has-error .form-control,
  .has-success .form-control:focus,
  .has-error .form-control:focus {
    box-shadow: none;
  }
  
  .has-danger .form-control.form-control-success,
  .has-danger .form-control.form-control-danger,
  .has-success .form-control.form-control-success,
  .has-success .form-control.form-control-danger {
    background-image: none;
  } */
  /* .form-control+.form-control-feedback {
    border-radius: 0.4285rem;
    margin-top: -7px;
    position: absolute;
    right: 10px;
    top: 50%;
    vertical-align: middle;
  } */
  
  @media (max-width: 992px) {
     .success-container {
      margin-top: 120px;
    }
  }
  /* @media (min-width:1200px) and (max-width: 1400px) {
    .image-container {
      margin-top: 130px;
    } */
  @media (max-width: 330px){
   .inner-container{
     margin-bottom: 200px;
   }
  
  }
  @media (max-width: 991.98px) {
    .card.card-register .card-img {
      margin-left: -45px;
    }
  }
  
  @media (max-width: 575.98px) {
    #danger {
      margin-top: 50px;
    }
  }
  
  
  

  /* Footer  */

/*  .footer-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
  } */
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
/*   
  .footer {
    padding: 50px 0;
    border-top: 2px solid #435DB5;
    background: radial-gradient(ellipse at bottom, #292D61 30%, #171941 80%);
  }
  
  /* .footer [class*="container-"] {
    padding: 0;
  } */
  /* .footer .nav {
    display: block;
    float: left;
    margin-bottom: 0;
    padding-top: 25px;
    list-style: none;
  }
  
  .footer .nav-item {
    display: block;
  }
  
  .footer [class*="container-"] {
    padding: 0;
  }
  
  .footer .nav-link {
    color: #ffffff;
    padding: 10px 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .footer .nav-link:hover {
    text-decoration: none;
  }
  
  .footer .title {
    text-align: left;
  }
  
  .footer .copyright {
    font-size: 0.75rem;
    line-height: 1.8;
    color: #ffffff;
  }
  
  .footer:after {
    display: table;
    clear: both;
    content: " ";
  } */ */
  
  .title {
    margin-top: 30px;
    margin-bottom: 25px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .title.title-up {
    text-transform: uppercase;
  }
  
  .title.title-up a {
    color: #222a42;
    text-decoration: none;
  }
  
  .title+.category {
    margin-top: -10px;
  }
  
  .text-info {
    color: #1d8cf8 !important;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.2;
    color: #32325d;
  }
  
  h1, .h1 {
    font-size: 2.0625rem;
  }
  
  h2,
  .h2 {
    font-size: 1.6875rem;
  }
  
  h3,
  .h3 {
    font-size: 1.4375rem;
  }
  
  h4,
  .h4 {
    font-size: 1.0625rem;
  }
  
  h5,
  .h5 {
    font-size: 0.8125rem;
  }
  
  h6,
  .h6 {
    font-size: 0.75rem;
  }
  
  /* :root {
    --blue: #5e72e4;
    --indigo: #5603ad;
    --purple: #8965e0;
    --pink: #f3a4b5;
    --red: #f5365c;
    --orange: #fb6340;
    --yellow: #ffd600;
    --green: #2dce89;
    --teal: #11cdef;
    --cyan: #2bffc6;
    --white: #ffffff;
    --gray: #6c757d;
    --gray-dark: #32325d;
    --light: #ced4da;
    --lighter: #e9ecef;
    --primary: #e14eca;
    --secondary: #f4f5f7;
    --success: #00f2c3;
    --info: #1d8cf8;
    --warning: #ff8d72;
    --danger: #fd5d93;
    --light: #adb5bd;
    --dark: #212529;
    --default: #344675;
    --white: #ffffff;
    --neutral: #ffffff;
    --darker: black;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  } */
  .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 11px 40px;
    font-size: 0.875rem;
    line-height: 1.35em;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  /* .btn.btn-icon {
    height: 1.875rem;
    min-width: 1.875rem;
    width: 1.875rem;
  
  }
  .fab {
    font-size: 0.6875rem;
  padding-top: 17px;
  }
  .fas{
    font-size: 0.6875rem;
  padding-top: 17px;
  }
  .btn.btn-icon {
    height: 3.7rem;
    min-width: 3.7rem;
    width: 3.7rem;
  }
  
  .btn-simple {
    border: 1px solid;
    border-color: #344675;
    box-shadow: none;
    padding: 10px 22px;
    background-color: transparent;
  }
  
  .btn.btn-icon .fa,
  .btn.btn-icon .far,
  .btn.btn-icon .fas,
  .btn.btn-icon .fab,
  .btn.btn-icon {
    font-size: 1.325rem !important;
  }
  
  .btn.btn-simple {
    color: #344675;
    border-color: #344675;
    background: transparent;
  }
  
  .btn-round.btn-simple {
    padding: 10px 22px;
  }*/
  
  .btn-round {
    border-width: 1px;
    border-radius: 30px;
  }

  /*
  
  .btn.btn-icon.btn-simple {
    padding: 0;
  }
  
  .btn-neutral.btn-simple {
    color: #ffffff;
    border-color: #ffffff;
    background: transparent;
  } */
  @media screen and (max-width: 420px){
    #card-title { !important;
      font-size:2.5rem;
    }
  }
  /* @media screen and (max-width: 991px) { !important;
    #footer {
      padding-left: 0px;
    }
  
    #footer .copyright {
      text-align: right;
      margin-right: 15px;
    }
  }
  
  @media (min-width: 1200px) { !important;
    #footer-container {
      max-width: 1140px;
    }
  }
  
  @media screen and (min-width: 992px) { !important;
    #footer .copyright {
      float: right;
      padding-right: 30px;
    }
  } */
  
  /* @media screen and (max-width: 768px) { !important;
    #footer nav {
      display: block;
      margin-bottom: 5px;
      float: none;
    }
    #footer{
      text-align:center;
    }
   .footer .title{
     text-align: center;
   }
   .footer .nav{
     float:none;
   }
  
  }
   */
  /* @media screen and (max-width: 576px) { !important;
  
  
    #footer .copyright {
      text-align: center;
    }
  
    #footer .nav {
      float: none;
      padding-left: 0;
    }
  }
   */